h1{
    font-family:Cooper;
    font-size: 20px;
}
body{
    text-align: center;
}
a{
    text-decoration: none;
    font-family: Cooper;
    margin: 10px;
}
#m{
    font-family: Cooper;
    font-size: 20px;
}
 
.contact_1 a{
    color: black;
    text-shadow: none;
}
.contact_1 h3{
    display: inline;
}